[submodule "Backend"]
	path = Backend
	url = https://github.com/Sps9938/Student-Attendance-Frontend.git
[submodule "Fronted"]
	path = Fronted
	url = https://github.com/Sps9938/Student-Attendance-Frontend.git
